@font-face {
    font-family: 'zabras';
    src: url('../fonts/zabras.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    background-image: url('./img/10_start_screen/start_bg-2.png');
    background-size: cover;
    background-position: top;
    margin: 0;
    min-height: 100vh;
}

.title {
    display: flex;
    position: absolute;
    top: 115px;
}

h1 {
    font-size: 96px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.canvas-container {
    border: 2px solid yellow;
    height: 480px;
    width: 720px;
    position: relative;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 480px;
    width: 720px;
}

canvas {
    background-color: black;
    display: block;
}

:fullscreen .canvas-container,
:fullscreen .start-screen,
:fullscreen .controls-screen,
:fullscreen .settings-screen,
:fullscreen .end-screen {
    width: 100vw;
    height: 100vh;
}

.start-screen {
    background: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 480px;
    width: 720px;
    position: absolute;
    z-index: 2;
    border: 2px solid white;
}

.end-screen {
    background-image: url('img/9_intro_outro_screens/start/game_over/game over.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 480px;
    width: 720px;
    position: absolute;
    display: none;
    justify-content: center;
    z-index: 3;
    backdrop-filter: blur(5px);
}

.controls-screen, .settings-screen {
    display: none;
    height: 480px;
    width: 720px;
    position: absolute;
    z-index: 3;
    backdrop-filter: blur(10px);
}

.end-screen button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    position: absolute;
    bottom: 40px;
    background-color: #ff9600;
    border-radius: 15px;
}

.menu {
    display: flex;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 2px solid red;
}

.menu button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    top: 20px;
    background-color: #ff9600;
    border-radius: 15px;
}