@font-face {
    font-family: 'zabras';
    src: url('../fonts/zabras.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    background-image: url('./img/10_start_screen/start_bg-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0;
    min-height: 100vh;
}

.title {
    display: flex;
    position: absolute;
    top: 115px;
}

h1 {
    font-size: 96px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.content {
    transform: scale(1.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    background-color: black;
    display: block;
    width: 100%;
}

.start-screen {
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 825px;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.end-screen {
    background-image: url('img/9_intro_outro_screens/start/game_over/game over.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 550px;
    width: 825px;
    display: none;
    z-index: 3;
    backdrop-filter: blur(5px);
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid green;
    position: relative;
    flex-direction: row;
    height: 100px;
}

/* Startknopf-Styling */
.controls button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    top: 20px;
    background-color: #ff9600;
    border-radius: 15px;
}

.end-screen button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 20px;
    background-color: #ff9600;
    border-radius: 15px;
    margin-left: 20px;
}